boto3
celery
coverage
Django
django-celery-results
django-colorfield
django-cors-headers
django-elasticsearch-dsl-drf
django-nose
django-rest-passwordreset
django-storages
djangorestframework
djangorestframework-simplejwt
ffmpeg-python
parameterized
psycopg2-binary
python-magic
wave-chunk-parser