fastapi
fastapi-pagination
ffmpeg-python
firebase-admin
google-cloud-pubsub
nltk
parameterized
passlib[bcrypt]
pydantic[email]
pytest
python-jose[cryptography]
python-magic
python-multipart
uvicorn[standard]
wave-chunk-parser