name: alldaydj-actions
on: [push]

env:
  ADDJ_SECRET_KEY: ${{ secrets.ADDJ_SECRET_KEY }}
  ADDJ_DB_NAME: alldaydj
  ADDJ_DB_USER: alldaydj
  ADDJ_DB_PASS: ${{ secrets.ADDJ_DB_PASS }}
  ADDJ_DB_HOST: localhost
  ADDJ_RABIT_HOST: localhost
  ADDJ_RABBIT_USER: alldaydj
  ADDJ_RABBIT_PASS: ${{ secrets.ADDJ_RABBIT_PASS }}
  PYTHON_VER: 3.9
  ADDJ_USERS_DOMAIN: test.alldaydj.net
  ADDJ_CELERY_ALWAYS_EAGER: "True"
  DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
  ADDJ_S3_REGION: dummy-region
  ADDJ_S3_ENDPOINT: https://localhost/
  ADDJ_S3_KEY_ID: key123
  ADDJ_S3_KEY_SECRET: secret123

jobs:
  django-tests:
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: ${{ env.ADDJ_DB_NAME }}
          POSTGRES_PASSWORD: ${{ env.ADDJ_DB_PASS }}
          POSTGRES_USER: ${{ env.ADDJ_DB_USER }}
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      rabbitmq:
        image: rabbitmq
        env:
          RABBITMQ_DEFAULT_USER: ${{ env.ADDJ_RABBIT_USER }}
          RABBITMQ_DEFAULT_PASS: ${{ env.ADDJ_RABBIT_PASS }}
        ports:
          - 5672:5672
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the commit
        uses: actions/checkout@v1
      - name: Install Python ${{ env.PYTHON_VER }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ env.PYTHON_VER }}
      - name: Install dependancies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run the black lint check
        run: |
          black . --check
      - name: Test with django
        run: python manage.py test
      - name: Test coverage to deepsource.io
        run: |
          curl https://deepsource.io/cli | sh
          ./bin/deepsource report --analyzer test-coverage --key python --value-file ./coverage.xml
