name: alldaydj-actions
on: [push]

env:
  ADDJ_SECRET_KEY: ${{ secrets.ADDJ_SECRET_KEY }}
  ADDJ_DB_NAME: alldaydj
  ADDJ_DB_USER: alldaydj
  ADDJ_DB_PASS: ${{ secrets.ADDJ_DB_PASS }}
  ADDJ_DB_HOST: localhost
  ADDJ_RABIT_HOST: localhost
  ADDJ_RABBIT_USER: alldaydj
  ADDJ_RABBIT_PASS: ${{ secrets.ADDJ_RABBIT_PASS }}
  PYTHON_VER: 3.9
  ADDJ_USERS_DOMAIN: test.alldaydj.net
  ADDJ_CELERY_ALWAYS_EAGER: "True"
  DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
  ADDJ_S3_REGION: dummy-region
  ADDJ_S3_ENDPOINT: https://localhost/
  ADDJ_S3_KEY_ID: key123
  ADDJ_S3_KEY_SECRET: secret123
  ADDJ_S3_BUCKET: alldaydj

jobs:
  django-tests:
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_DB: ${{ env.ADDJ_DB_NAME }}
          POSTGRES_PASSWORD: ${{ env.ADDJ_DB_PASS }}
          POSTGRES_USER: ${{ env.ADDJ_DB_USER }}
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      rabbitmq:
        image: rabbitmq
        env:
          RABBITMQ_DEFAULT_USER: ${{ env.ADDJ_RABBIT_USER }}
          RABBITMQ_DEFAULT_PASS: ${{ env.ADDJ_RABBIT_PASS }}
        ports:
          - 5672:5672
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the commit
        uses: actions/checkout@v1
      - name: Install Python ${{ env.PYTHON_VER }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ env.PYTHON_VER }}
      - name: Install LAME and FFMPEG
        run: |
          sudo apt update
          sudo apt install libmp3lame-dev ffmpeg
      - name: Install Python dependancies
        working-directory: ./backend
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run the black lint check
        working-directory: ./backend
        run: |
          black . --check
      - name: Test with django
        working-directory: ./backend
        run: python manage.py test
      - name: Test coverage to deepsource.io
        working-directory: ./backend
        run: |
          curl https://deepsource.io/cli | sh
          ./bin/deepsource report --analyzer test-coverage --key python --value-file ./coverage.xml
  web-backend-container:
    needs: django-tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the commit
        uses: actions/checkout@v1
      - name: Inject slug/short variables
        uses: rlespinasse/github-slug-action@v3.x
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
      - name: Cache docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
      - name: Build the web app backend container
        uses: docker/build-push-action@v2
        with:
          file: ./backend/web.Dockerfile
          context: .
          builder: ${{ steps.buildx.outputs.name }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          push: "True"
          tags: steelegbr/alldaydj-web-backend:${{ env.GITHUB_REF_SLUG }}
  react-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the commit
        uses: actions/checkout@v1
      - name: Install NPM
        uses: actions/setup-node@v2
      - name: Install yarn
        run: |
          curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | sudo apt-key add -
          echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo tee /etc/apt/sources.list.d/yarn.list
          apt update
          apt install -y yarn
        working-directory: ./frontend/alldaydj
      - name: Install libraries with yarn
        run: yarn
        working-directory: ./frontend/alldaydj
      - name: ECMA Script Linting
        run: yarn lint
        working-directory: ./frontend/alldaydj