name: Run Tests
on: [push]

env:
  DB_NAME: alldaydj
  DB_USERNAME: postgres
  DB_PASSWORD: postgres
  DB_HOST: postgres
  JWT_AUDIENCE: TEST-AUDIENCE
  JWT_CLIENT_ID: TEST-CLIENT-ID
  JWT_DOMAIN: example.org
  JWT_ISSUER: TEST-ISSUER
  JWT_JKWS: http://example.org/well-known/jwks.json
  DEBUG: True
  SECRET_KEY: NONSENSE-SECRET-KEY

jobs:
    backend:
        runs-on: ubuntu-latest
        container: python:${{ matrix.python-version }}
        strategy:
            matrix:
                python-version: ["3.12", "3.13"]
        services:
          postgres:
            image: postgres
            env:
              POSTGRES_DB: ${{ env.DB_NAME }}
              POSTGRES_USER: ${{ env.DB_USERNAME }}
              POSTGRES_PASSWORD: ${{ env.DB_PASSWORD }}
            options: >-
              --health-cmd pg_isready
              --health-interval 10s
              --health-timeout 5s
              --health-retries 5
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v3
            - name: Install Poetry
              run: |
                    pip install poetry
            - name: Install Dependencies
              run: |
                    poetry install
              working-directory: ./Backend
            - name: Run Tests
              run: |
                    poetry run python manage.py test
              working-directory: ./Backend
    frontend:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.12", "3.13"]

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v3  
            - name: Setup Python {{ matrix.python-version }}
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install Poetry
              uses: snok/install-poetry@v1
            - name: Install Dependencies
              run: |
                    /home/runner/.local/bin/poetry install
              working-directory: ./Frontend
            - name: Run Tests
              run: |
                    /home/runner/.local/bin/poetry run pytest
              working-directory: ./Frontend