name: Run Tests
on: [push]

jobs:
    frontend:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.12", "3.13"]

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v3  
            - name: Setup Python {{ matrix.python-version }}
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install Poetry
              uses: snok/install-poetry@v1
            - name: Install Dependencies
              run: |
                    poetry install
              working-directory: ./frontend
            - name: Run Tests
              run: |
                    poetry run pytest
              working-directory: ./frontend